{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h1 class="mt-4"> Insertion Page </h1>
        </div>
        <div class="col-md-12 col-lg-12 mb-4"></div>
            {% for message in messages|slice:'1' %}
                <p class="mb-5" style="color: green;"><i class="fa fa-check"></i>&nbsp; {{message}} </p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4 mb-4 p-5"> 
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}                
                    <label>Image</label> 
                    {{ form.image| add_class:"form-control mb-4"|attr:'required'|attr:'placeholder:News Title*'}}
                    <span class="error">
                        {{ form.image.errors}}
                    </span>

                    <label>News Title</label> 
                    {{ form.title| add_class:"form-control mb-4"|attr:'required'|attr:'placeholder:News Title*'}}
                    <span class="error">
                        {{ form.title.errors}}
                    </span>

                    <label>Content</label>
                    {{ form.content| add_class:"form-control mb-4"|attr:'required'|attr:'placeholder:News Content*'}}
                    <span class="error">
                        {{ form.content.errors}}
                    </span>
                    <a href="/"><button type="button" class="btn btn-warning">Back</button></a>&nbsp; &nbsp;
                    <button type="submit" class="btn btn-success">Submit News</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}