{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<h1 class="mt-4">Login Page</h1><br>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                {% csrf_token %}
                <label>Username</label><br>
                <input class="form-control" name ="username" type="text" placeholder="Username" required><br>
                <label>Password</label><br>
                <input class="form-control" name="password" type="text" placeholder="Password" required><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>
        </div>
    </div>
   
{% endblock %}